<a href="https://colab.research.google.com/github/MidoriTinto/Python_Fundamentals/blob/main/2_2_Working_with_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Strings
---

The pandas library has a similar set of string functions to those available in python generally.  Because we often want to perform operations on a whole series of data values in a dataframe, we can use pandas string functions to do this:

### Splitting data 
---

Series.str.split() *to split a column's strings into components*    
Series.str.get() *to get one of the components after the split*  

You can **daisychain** these together:   

`Series.str.split().str.get()`

* `split()` will split by white space unless specified, for example if you wanted to split by "/" you would use `split("/")`  

* `get()` requires a parameter of the value position of the string you would like to 'get'. If you want the first word eg 1999, use `get(0)`.


*Hint: remember to save your result into a new column* 

### Exercise 1 strings
---

Let's use the data set 'Housing in London' at 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'

The date, in this dataset is a string.   To filter for a particular year, we will need to extract the first four letters as a substring.  We can create a new column called **year**, which just contains the year, stored as a number.

The date is written in the format yyyy-mm-dd.  We can split the year around the '-' and then use the first component.


Create a function called **get_year()** which splits the data from the date column, and creates a year column with just the year before returning the year column.


**Test output**:  

```
0       1999
1       1999
2       1999
3       1999
4       1999
        ... 
1066    2019
1067    2019
1068    2019
1069    2019
1070    2019
Name: year, Length: 1071, dtype: object
```

In [108]:
import pandas as pd

url= 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
housing=pd.read_csv(url)
housing

def get_year():
  # add code below to return a new year column, with just years 

  #print(housing)
  #return(housing.head())
  #print(housing.info())

  year=housing["date"].str.split("-").str.get(0)
  #Code below to test output is correct without using the code below which gives me an error
  #result is as expected using formula above
  return(year)
get_year()
print(get_year())


# run and test if returned series is of correct length and has correct first row 

actual_len = len(get_year())
actual_value = get_year().iloc[0]
expected_len = 1071
expected_val = "1999"

if actual_len == expected_len and actual_value == expected_val:
  print("Test passed expected length 1071 and first value 1999 and got", actual_len, actual_value)
else: 
  print("Test failed expected length 1071 and first value 1999 and got length", actual_len, "value", actual_value)

0       1999
1       1999
2       1999
3       1999
4       1999
        ...
1066    2019
1067    2019
1068    2019
1069    2019
1070    2019
Name: date, Length: 1071, dtype: object
Test passed expected length 1071 and first value 1999 and got 1071 1999

### Exercise 2
---

In exercise 1 you have extracted the year, but it's dtype is 'object' (it is still a string).  You can convert to integer by adding  .astype(int) to the daisychain.

Create a new function called **get_int_year()**, `return` the year column with values of type int. 

**Test output**:  

```
...
Name: year, Length: 1071, dtype: int64
```

In [ ]:

def get_int_year():
  # add code below to return a year column where values are of integer type


  year=housing["date"].str.split("-").str.get(0).astype(int)

  #Code below to test output is correct without using the code below which gives me an error
  #result is as expected using formula above
  return(year)
get_int_year()
print(get_int_year())



# run and test if your returned series is of type int

#import numpy as np

#actual = get_int_year().dtype
#expected = np.int64

#if actual == expected:
  #print("Test passed", actual)
#else:
  #print("Test failed, expected", expected, "got", actual)

0       1999
1       1999
2       1999
3       1999
4       1999
        ...
1066    2019
1067    2019
1068    2019
1069    2019
1070    2019
Name: date, Length: 1071, dtype: int64

### Exercise 3
---

All the areas in the data set are in lower case.  To prepare the data for reporting, you may want to capitalise.  Use .str.title() to do this.

Create the function **get_title_areas()** to do this. `Return` the newly capitalised area column

In [ ]:
def get_title_areas():
  # add code below to capitalise the first letter of each string in the column area

  title_areas=housing["area"].str.title()

  return title_areas





# run and test if the first row of the area column is now correct 

actual = get_title_areas().iloc[0]
expected = "City Of London"

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

Test passed City Of London

### Exercise 4 - Filter all areas to find all with 'and' in the name
---

Create a function called **get_and()** which uses `str.contains()` and a search (e.g. df[df['area'].str.contains()]) to filter and `return` all areas with 'And' in the name

**Test output**:  
105 rows × 13 columns

In [ ]:
def get_and():
# add code to return just rows which area contains 'And'

 areas=housing[housing["area"].str.contains(" and ")]# important is spacing left and right of /and/

 return areas

get_and()
print(get_and())



# run and test if returned is correct length 

actual = len(get_and())
expected = 105

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

           code                      area  ... no_of_houses  borough_flag
1     E09000002      barking and dagenham  ...          NaN             1
12    E09000013    hammersmith and fulham  ...          NaN             1
19    E09000020    kensington and chelsea  ...          NaN             1
35    E12000003  yorkshire and the humber  ...          NaN             0
47    K04000001         england and wales  ...          NaN             0
...         ...                       ...  ...          ...           ...
1021  E09000002      barking and dagenham  ...          NaN             1
1032  E09000013    hammersmith and fulham  ...          NaN             1
1039  E09000020    kensington and chelsea  ...          NaN             1
1055  E12000003  yorkshire and the humber  ...          NaN             0
1067  K04000001         england and wales  ...          NaN             0

[105 rows x 12 columns]
Test passed 105

### Exercise 5
---

Filter the data for all areas starting with 'Ba'  

*hint: use `startswith()`*

**Test Ouput:**  
42 rows, first row has area 'Barking and Dagenham'

In [ ]:
def get_ba():
  # add code to filter for all areas starting with Ba 
  
 ba_areas=housing[housing["area"].str.startswith("ba")]
 return ba_areas
get_ba()
print(get_ba())


# run and test if your returned rows are the right length 

actual = len(get_ba())
expected = 42 

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

           code                  area  ... no_of_houses  borough_flag
1     E09000002  barking and dagenham  ...          NaN             1
2     E09000003                barnet  ...          NaN             1
52    E09000002  barking and dagenham  ...          NaN             1
53    E09000003                barnet  ...          NaN             1
103   E09000002  barking and dagenham  ...      68298.0             1
104   E09000003                barnet  ...     130515.0             1
154   E09000002  barking and dagenham  ...      68526.0             1
155   E09000003                barnet  ...     130801.0             1
205   E09000002  barking and dagenham  ...      68837.0             1
206   E09000003                barnet  ...     131883.0             1
256   E09000002  barking and dagenham  ...      68899.0             1
257   E09000003                barnet  ...     132856.0             1
307   E09000002  barking and dagenham  ...      69261.0             1
308   E09000003                barnet  ...     133902.0             1
358   E09000002  barking and dagenham  ...      69529.0             1
359   E09000003                barnet  ...     134941.0             1
409   E09000002  barking and dagenham  ...      69835.0             1
410   E09000003                barnet  ...     135429.0             1
460   E09000002  barking and dagenham  ...      70551.0             1
461   E09000003                barnet  ...     136680.0             1
511   E09000002  barking and dagenham  ...      70839.0             1
512   E09000003                barnet  ...     137769.0             1
562   E09000002  barking and dagenham  ...      70946.0             1
563   E09000003                barnet  ...     138616.0             1
613   E09000002  barking and dagenham  ...      71079.0             1
614   E09000003                barnet  ...     139346.0             1
664   E09000002  barking and dagenham  ...      71431.0             1
665   E09000003                barnet  ...     141461.0             1
715   E09000002  barking and dagenham  ...      71937.0             1
716   E09000003                barnet  ...     142835.0             1
766   E09000002  barking and dagenham  ...      72668.0             1
767   E09000003                barnet  ...     143948.0             1
817   E09000002  barking and dagenham  ...      73182.0             1
818   E09000003                barnet  ...     145272.0             1
868   E09000002  barking and dagenham  ...      73914.0             1
869   E09000003                barnet  ...     146730.0             1
919   E09000002  barking and dagenham  ...      74510.0             1
920   E09000003                barnet  ...     148529.0             1
970   E09000002  barking and dagenham  ...      74923.0             1
971   E09000003                barnet  ...     150737.0             1
1021  E09000002  barking and dagenham  ...          NaN             1
1022  E09000003                barnet  ...          NaN             1

[42 rows x 12 columns]
Test passed 42

### Exercise 6
---
Create function called **get_ham()** to filter and `return` the data for all areas ending with 'ham', for the year 2000

*hint: use `endswith()`*   

**Test output**:  
4 rows (barking and dagenham, hammersmith and fulham, lewisham, newham)

In [ ]:
def get_ham():
  # add code to return rows which end with ham for the year 2000
  
  ham_areas=housing[housing["area"].str.split(" - ").str.get(0).str.endswith("ham") & housing["date"].str.startswith("2000")]

  return ham_areas
get_ham()
print(get_ham())
  



# run and test if correct number of rows are returned
actual = len(get_ham())
expected = 4 

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

         code                    area  ... no_of_houses  borough_flag
52  E09000002    barking and dagenham  ...          NaN             1
63  E09000013  hammersmith and fulham  ...          NaN             1
73  E09000023                lewisham  ...          NaN             1
75  E09000025                  newham  ...          NaN             1

[4 rows x 12 columns]
Test passed 4

### Exercise 7 - new data set
---

Use the data set here:  https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true

Read the data from the sheet 'Skill Migration'  

Write a function called **create_new_df()** which will inspect the data, then create and return new dataframe with the following changes:

1.  Remove the word 'Skills' from the 'skill_group_category' column   
  *hint: you can use the `str.rstrip()` function*
2.  Convert country_code to uppercase    
  *hint: try `upper()`*  
4.  Remove the skill_group_id and the wb_income columns
3.  Filter for regions containing 'Asia'  
  *hint: you might have to `return` it*

**Test output**:  
9969 rows × 10 columns

In [107]:
import pandas as pd

url= "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
migration=pd.read_excel(url, sheet_name = "Skill Migration")
migration

def create_new_df(migration):
  # add code below to return a df with 'Skills' removed, country_code in uppercase, no skill_group_id or wb_income columns and only for regions containing Asia 
  
  new_dataframe = migration[migration ["skill_group_category"].str.rstrip("Skills"), migration ["country_code"].str.upper(), migration.drop(columns=['skill_group_id', 'wb_income']), migration["wb_region"].str.contains("Asia")]
  
  return new_dataframe

new_dataframe = create_new_df(migration)
  


          

# run and test if returned dataframe is correct length, with the right number of columns  and first row skill_group_category is correct 
test_df = create_new_df(migration)
actual_len = len(test_df)
actual_col = len(test_df.columns)
expected_len = 9969
expected_col = 10
actual_skill = test_df['skill_group_category'].iloc[0]
expected_skill = 'Tech '

if actual_len == expected_len and actual_col == expected_col and actual_skill == expected_skill:
  print("Test passed", actual_len, "x", actual_col, actual_skill)
else:
  print("Test failed, expected", expected_len, "x", expected_col, expected_skill, "got", actual_len, "x", actual_col, actual_skill)
  
create_new_df(migration)
print(create_new_df(migration))

TypeError: ignored

### Exercise 8
---

Write a function called **clean_skills()** that will:
1. rename the **net_per_10K_year** columns to be just the year
2. in the **skill_group_category** column replace the 'z' in 'specialized' with 's' to Anglicise the spelling. 

The function should `return` the cleaned data.  

Hint:  You can use the `replace()` function to replace substring's and characters in both column headings and the actual data.  
* `.str.replace("old","new")`

**Test output**:  
17617 rows × 12 columns, with z replace by s in Specialized  
Column names: country_code	country_name	wb_income	wb_region	skill_group_id	skill_group_category	skill_group_name	2015	2016	2017	2018	2019

In [106]:
def clean_skills(migration):
  #add code to anglicise Specialized in the skill category column and rename the net_per_10K columns
 
  clean_skills = migration[migration.rename(columns={"net_per_10K_2015": "2015","net_per_10K_2016": "2016","net_per_10K_2017": "2017","net_per_10K_2018": "2018", "net_per_10K_2019": "2019"}, inplace=True) & migration["skill_group_category"].str.replace("z","s ")]

  return clean_skills
  clean_skills = clean_skills(migration)

 


# run and test if columns have correct names and specialised is anglised 
test_df = clean_skills(migration)

if (test_df['skill_group_category'].str.contains('Specialised').any() == True) and (test_df.columns.str.contains('net_per_10K_').any() == False):
  print("Test passed")
else:
  print("Test failed")

clean_skills(migration)
print(clean_skills(migration))

KeyError: ignored

### Exercise 8
---

Read the 'Country Migration' sheet.

Write a function that will:  
*  convert the country codes to upper case  
*  drop the lat and long columns for both base and target  
*  rename the net_per_10K_year columns to year only  
*  filter for base_country_wb_region contains 'Africa' and target_country_wb_region contains Asia  

**Test output**:  
```
base_country_code	base_country_name	base_country_wb_income	base_country_wb_region	target_country_code	target_country_name	target_country_wb_income	target_country_wb_region	2015	2016	2017	2018	2019
0	AE	United Arab Emirates	High Income	Middle East & North Africa	AF	Afghanistan	Low Income	South Asia	0.19	0.16	0.11	-0.05	-0.02
4	AE	United Arab Emirates	High Income	Middle East & North Africa	AM	Armenia	Upper Middle Income	Europe & Central Asia	0.10	0.05	0.03	-0.01	0.02
5	AE	United Arab Emirates	High Income	Middle East & North Africa	AU	Australia	High Income	East Asia & Pacific	-1.06	-3.31	-4.01	-4.58	-4.09
6	AE	United Arab Emirates	High Income	Middle East & North Africa	AT	Austria	High Income	Europe & Central Asia	0.11	-0.08	-0.07	-0.05	-0.16
7	AE	United Arab Emirates	High Income	Middle East & North Africa	AZ	Azerbaijan	Upper Middle Income	Europe & Central Asia	0.24	0.25	0.10	0.05	0.04
...	...	...	...	...	...	...	...	...	...	...	...	...	...
4132	ZM	Zambia	Lower Middle Income	Sub-Saharan Africa	GB	United Kingdom	High Income	Europe & Central Asia	43.27	27.60	7.88	6.90	3.68
4135	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	AU	Australia	High Income	East Asia & Pacific	-1.31	-2.33	-2.10	-2.08	-1.84
4138	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	IS	Iceland	High Income	Europe & Central Asia	8.52	6.22	2.35	1.81	0.97
4142	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	NO	Norway	High Income	Europe & Central Asia	2.88	6.46	2.10	0.33	-0.13
4145	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	GB	United Kingdom	High Income	Europe & Central Asia	3.91	4.66	0.74	-0.66	-1.97
478 rows × 13 columns
```

In [116]:
import pandas as pd
url= "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
migration = pd.read_excel(url, sheet_name = "Country Migration")
migration

def clean_country_mig(migration):
  # add code below to clean the data
  
  new_skills = migration[migration["base_country_code"].str.upper(), migration["target_country_code"].str.upper(), migration.drop(columns=['base_lat', 'base_long', 'target_lat', 'target_long']), migration.rename(columns={"net_per_10K_2015": "2015","net_per_10K_2016": "2016","net_per_10K_2017": "2017","net_per_10K_2018": "2018", "net_per_10K_2019": "2019"}, inplace=True), migration["base_country_wb_region"].str.contains("Africa"), migration["target_country_wb_region"].str.contains("Asia")]
  
  
  return new_skills


new_skills=clean_country_mig(migration)
 


# run test if there is the correct number of columns, country codes are in uppercase and year columns have been reformatted 
test_df = clean_country_mig(migration)
actual_col_len = len(migration.columns)
expected = 13

if actual_col_len == expected and (df['base_country_code'].str.islower().any() == False) and (df.columns.str.contains('net_per_10K_').any() == False):
  print("Test passed")
else:
  print("Test failed")


clean_country_mig(migration)
#print(clean_country_mig(migration))

TypeError: ignored

### Exercise 10
---

Read the data from file 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'.

Write a function that will return a new dataframe with just the married women listed, surname only.

**Test output**:  
```
	PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	2	1	1	Cumings	female	38.0	1	0	PC 17599	71.2833	C85	C
3	4	1	1	Futrelle	female	35.0	1	0	113803	53.1000	C123	S
8	9	1	3	Johnson	female	27.0	0	2	347742	11.1333	NaN	S
9	10	1	2	Nasser	female	14.0	1	0	237736	30.0708	NaN	C
15	16	1	2	Hewlett	female	55.0	0	0	248706	16.0000	NaN	S
...	...	...	...	...	...	...	...	...	...	...	...	...
871	872	1	1	Beckwith	female	47.0	1	1	11751	52.5542	D35	S
874	875	1	2	Abelson	female	28.0	1	0	P/PP 3381	24.0000	NaN	C
879	880	1	1	Potter	female	56.0	0	1	11767	83.1583	C50	C
880	881	1	2	Shelley	female	25.0	0	1	230433	26.0000	NaN	S
885	886	0	3	Rice	female	39.0	0	5	382652	29.1250	NaN	Q
129 rows × 12 columns
```

In [113]:
url= 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'
titanic=pd.read_csv(url)
titanic

def get_married(titanic):
  # add code to return only the last names of married women

  #married_surnames=titanic[titanic.Sex != 'male', titanic["Name"].str.contains("Miss")==False, titanic["Name"].str.split(",").str.get(0)]
  married_surnames=titanic[titanic.Sex != 'male', titanic["Name"].str.contains("Miss")==False, titanic["Name"].str.split(",").str.get(0)]

  return  married_surnames

married_surnames=get_married(titanic)
    



  


# run and test if returned dataframe is correct length and has correct first row 
test_df = get_married(titanic)
actual_len = len(test_df)
expected_len = 129
actual_name = test_df['Name'].iloc[0]
expected_name = 'Cumings'

if actual_len == expected_len and actual_name == expected_name:
  print("Test passed, ", actual_len, actual_name)
else:
  print("Test failed expected ", expected_len, expected_name, "got", actual_len, actual_name)

get_married(titanic)

TypeError: ignored

---
### Optional extra practice

There are some similar and some more challenging exercises [here](https://www.w3resource.com/python-exercises/date-time-exercise/) if you would like to practice more. The site has its own editor.

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer: I think I can display specific information from a data set. I am not feeling overly confident at this point but I think this will change the more exercises I do.

## What caused you the most difficulty?

Your answer: Displaying the information as per expected output (see exercise 8-10, code seems to  be working fine when it comes to show answers independently from each other)