<a href="https://colab.research.google.com/github/MidoriTinto/Python_For_Data_Analysis/blob/main/Worksheets/Python_and_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using SQL in Python 
---

There are a number of varieties of SQL (Oracle SQL, mySQL, postgreSQL, etc).  Each has slight differences in the language it uses to interrogate databases in it particular format.  

Here, a mysql database will be inspect using mySQL.

### Install the SQL library mysql.connector
---


Each time you have downloaded this worksheet you will need to re-install the library to allow you to use the mysql.connector library, which will connect to the database and run the queries.  

RUN THE CODE IN THE CELL BELOW TO INSTALL mysql.connector

In [1]:
# colab does not have mysql automatically installed, so you must run this code once to install it each time you reopen the colab document
!pip install mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 5.3 MB/s
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=788d79f73ae988d54abccc28c0e9518289974820539dd49e39d3875f9177194a
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

Each time you write new code to use the functions of the mysql.connector library, you need to add an import at the top of the code cell

`import mysql.connector`

### To retrieve a database from host 
---

Use the following with the details of the database you want to retrieve: 
```
mydb = mysql.connector.connect(
    host= "",
    port="",
    user="",
    password="",
    database="",
    )
```

To query your database, this function will run and return the query result, dealing with any errors so that they don't crash the code:

```
def execute_query(query):
  mycursor = mydb.cursor()
  mycursor.execute(query)
  try:
    records = mycursor.fetchall()
    return records
  except(e):
    print("An error occurred" + str(e))
    return None
```
to run the function

```execute_query("....")```

eg. 

``` execute_query("SELECT * FROM table")```

### Get started with the Sales Database 
---

Let's start by looking at a database of sales information.  

![image.png](https://relational.fit.cvut.cz/assets/img/datasets-generated/SalesDB.svg)  

Use the code cell below to run a first SQL query on this database, to show the tables it holds.  Executing the SQL query "SHOW TABLES" will do this, e.g.:  
` execute_query("SHOW TABLES")`  

Finish the code in the cell below to show the tables. For help, refer to the demonstration videos.

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="relational.fit.cvut.cz",
  port="3306",
  user ="guest",
  password ="relational",
  database="SalesDB"
)

def execute_query(query):
  mycursor = mydb.cursor()#connecting to cursor that does the qyery
  mycursor.execute(query)
  try:#catch errors
    records = mycursor.fetchall()
    return records
  except:
    print("An error occurred: ")
    return None

# add your code here to run the SHOW TABLES query with execute_query and print the result
x=execute_query("SHOW TABLES")#execute_query called SHOW TABLE
for table in x:
  print(table[0])#result is tuples - not able to change it. by entering the first item of the table we are accessing the table

Customers
Employees
Products
Sales

### Finding The Number Of Rows in a Table
---

This query will return the number of row in a table given the table name

`"SELECT COUNT(*) FROM <<table>>"`

* Run a query to get a count of rows in the Sales table.
* Run a query to get a count of rows in the Employees table
* Challenging:
*  *  Write a for loop that will loop through the tables (from the SHOW TABLES query) and will get a count of the rows for each table.  (_Hint:  you can create a query from "SELECT COUNT(*) FROM " + table, this [video](https://www.youtube.com/watch?v=WqW6p8smJAQ) demonstrates how you would do this_)

***Counting rows in table SALES***

In [3]:
def execute_query(query):
  mycursor = mydb.cursor()#connecting to cursor that does the query
  mycursor.execute(query)
  try:#catch errors
    records = mycursor.fetchall()
    return records
  except:
    print("An error occurred: ")
    return None

x=execute_query("SELECT COUNT(*) FROM Sales")#execute_query called SHOW TABLE
for table in x:
  print(table[0])#result is tuples - not able to change it. By entering the first item of the table we are accessing the table

6715221

***Counting rows in table Employees***

In [ ]:
def execute_query(query):
  mycursor = mydb.cursor()#connecting to cursor that does the query
  mycursor.execute(query)
  try:#catch errors
    records = mycursor.fetchall()
    return records
  except:
    print("An error occurred: ")
    return None

# add your code here to run the SHOW TABLES query with execute_query and print the result
x=execute_query("SELECT COUNT(*) FROM Employees")#execute_query called SHOW TABLE
for table in x:
  print(table[0])#result is tuples - not able to change it. by entering the first item of the table we are accessing the table

23

### Returning the Numbers of Rows of a Table
---

***Get first ten rows of CUSTOMER table***

In [ ]:
def execute_query(query):
  mycursor = mydb.cursor()#connecting to cursor that does the qyery
  mycursor.execute(query)
  try:#catch errors
    records = mycursor.fetchall()
    return records
  except:
    print("An error occurred: ")
    return None

# add your code here to run the SHOW TABLES query with execute_query and print the result
customers=execute_query("SELECT * FROM Customers LIMIT 10")#execute_query shows the first 10 rows in the Customer Table
for customer in customers:
  print(customer)#result is tuples - not able to change it. by entering the first item of the table we are accessing the table

(1, 'Aaron', None, 'Alexander')
(2, 'Aaron', None, 'Bryant')
(3, 'Aaron', None, 'Butler')
(4, 'Aaron', None, 'Chen')
(5, 'Aaron', None, 'Coleman')
(6, 'Aaron', None, 'Con')
(7, 'Aaron', None, 'Edwards')
(8, 'Aaron', None, 'Flores')
(9, 'Aaron', None, 'Foster')
(10, 'Aaron', None, 'Gonzales')

***Get first 20 rows of CUSTOMER table***

In [ ]:
def execute_query(query):
  mycursor = mydb.cursor()#connecting to cursor that does the qyery
  mycursor.execute(query)
  try:#catch errors
    records = mycursor.fetchall()
    return records
  except:
    print("An error occurred: ")
    return None


products=execute_query("SELECT * FROM Products LIMIT 20")#execute_query shows the first 10 rows in the Customer Table
for product in products:
  print(product)#result is tuples - not able to change it. by entering the first item of the table we are accessing the table

(1, 'Adjustable Race', Decimal('1.6000'))
(2, 'Bearing Ball', Decimal('0.8000'))
(3, 'BB Ball Bearing', Decimal('2.4000'))
(4, 'Headset Ball Bearings', Decimal('0.0000'))
(5, 'Blade', Decimal('189.6000'))
(6, 'LL Crankarm', Decimal('380.4000'))
(7, 'ML Crankarm', Decimal('190.8000'))
(8, 'HL Crankarm', Decimal('319.0000'))
(9, 'Chainring Bolts', Decimal('0.0000'))
(10, 'Chainring Nut', Decimal('192.6000'))
(11, 'Chainring', Decimal('193.2000'))
(12, 'Crown Race', Decimal('516.8000'))
(13, 'Chain Stays', Decimal('64.8000'))
(14, 'Decal 1', Decimal('195.0000'))
(15, 'Decal 2', Decimal('130.4000'))
(16, 'Down Tube', Decimal('457.8000'))
(17, 'Mountain End Caps', Decimal('590.4000'))
(18, 'Road End Caps', Decimal('592.2000'))
(19, 'Touring End Caps', Decimal('0.0000'))
(20, 'Fork End', Decimal('397.2000'))

### Finding Field Information in a Given Table
---

***Field Information in EMPLOYEES table***

In [ ]:
def execute_query(query):
  mycursor = mydb.cursor()#connecting to cursor that does the qyery
  mycursor.execute(query)
  try:#catch errors
    records = mycursor.fetchall()
    return records
  except:
    print("An error occurred: ")
    return None


employees=execute_query("DESCRIBE Employees")#execute_query shows all instances in table called Employees
for employee in employees:
  print(employee[0])

EmployeeID
FirstName
MiddleInitial
LastName

***Field Information in Products table***

In [ ]:
def execute_query(query):
  mycursor = mydb.cursor()#connecting to cursor that does the qyery
  mycursor.execute(query)
  try:#catch errors
    records = mycursor.fetchall()
    return records
  except:
    print("An error occurred: ")
    return None


products=execute_query("DESCRIBE Products")#execute_query shows all instances in table called Products
for product in products:
  print(product[0])

ProductID
Name
Price

# Notes
----

Combining Python and SQL requires a bit more to get used to. Probability of inserting errors when entering commands is higher due to the combination of languages.